/**
 *		Comment Filter
 *		a LiveStreet plugin
 *		by Anton Maslo (http://amaslo.com)
 *		originally developed for MMOzgoved (http://www.mmozg.net/) project
 */

.jscslider, .jscslider_scale, .jscslider_tracker {
	padding:0;
	margin:0;
	overflow:hidden;
}

.jscslider {
	width:25px;
	position:relative;
	display:inline-block;
}

.slider_btn {
	width: 25px;
	font-weight: bold;
	color: #93ADAF;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.slider_btn:hover {
	color: #28B736;
}

.jscslider_scale {
	position:absolute;
	z-index:1;
	left:8px;
	height:90%;
	width:7px;
	top:5%;
	background:#eee;
	border:1px solid #e0e0e0;
	border-radius:2px;
}

.jscslider_tracker {
	position:absolute;
	z-index:2;
	width:18px;
	height:15px;
	left:4px;
	top:0;
	background-color:#93ADAF;
	border-radius:4px;
	cursor: pointer;
	text-align: center;
	font-size: 8px;		color: white;
	/*color: #707070;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); */
}

.jscslider_tracker:hover {
	background-color: #28B736;
	/*color: #505050;*/
}

.comment.hidden {
	opacity: 0.3;
	margin-bottom: 0;
}

.comment-hidden-hint {
	position: relative;
	top: -9px;
	line-height: 12px;
	font-size: 11px;
}

/* which items to hide */
.comment.hidden .comment-content,
.comment.hidden .vote,
.comment.hidden .comment-favourite,
.comment.hidden .comment-link,
.comment.hidden .goto,
.comment.hidden .reply-link,
.comment.hidden .comment-delete {
	display: none;
}